<!doctype html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link rel="icon" href="{% static 'image/saxophone.png' %}">
        
        <title>Website Gue</title>
    </head>
    <body class="bg">
        <div class="row desc">
            <div class="container-fluid">
                <div class="col-md-12">
                    <a href="{% url 'websitegue:Home' %}">
                        <img class="home" src="{% static 'image/house.png' %}" title="Home" alt="home">
                    </a>
                    <a href="{% url 'websitegue:Profile' %}" class="btn btn-info"  role="button">PROFILE</a>
                    <a href="{% url 'websitegue:Experiences' %}" class="btn btn-info"  role="button">EXPERIENCES</a>
                    <a href="{% url 'websitegue:Skills'%}" class="btn btn-info"  role="button">SKILLS</a>
                    <a href="{% url 'websitegue:schedule'%}" class="btn btn-info"  role="button">SCHEDULE</a>
                </div>
            </div>
            <div class="col-md-12">
                <h1>PROFILE</h1>
            </div>
            <div class="col-md-7">
                <pre class="datadiri">

       Nama Panggilan    : Jacob 

       Tanggal Lahir        : 8 May 2000

       Pendidikan            : S1 Sistem Informasi - 
                                       Universitas Indonesia

       Agama                  : Kristen Protestan

       Email                   : Jacobzc77@gmail.com

       Jenis Kelamin        : Pria

       NPM                    : 1806185361

       No. telp                : 081212139002

       Status                  : Belum Menikah
                </pre>
            </div>
                <div class="col-md-5">
                    <img class="fotoui" src="{% static 'image/ui.JPG' %}" title="ui" alt="ui">
                </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>