
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i');

.bg{
    background: url("../image/background.jpg") no-repeat center fixed;
    background-size: cover;
}
.nama{
    font-family: Roboto;
    font-style: normal;
    font-size: 36px;
    font-weight: 100;
    border-bottom: 1px solid currentColor;
    line-height: 1.1;
    color: #000000;
}
.row{
    padding-top: 30px;
    text-align: center;
}
.desc{
    text-align: left;
}
.rounded-circle{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.social{
    width: 20px;
    height: 20px;
    margin: 10px;
    color: #000000;
}
.btn{
    background-color: #C4C4C4;
    color: black;
    border: transparent;
    border-radius: 50px;
    font-family: Trykker;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
    margin:10px;
}
h1{
    text-align: left;
    font-family: Trykker;
    font-style: normal;
    font-size: 36px;
    font-weight: 100;
    margin-left: 60px;
}
.home{
    width: 30px;
    height: 30px;
    margin: 20px;
    color: #000000;
    margin-left: 50px;
}
.fotoui{
    height: 550px;
    align-self: center;
    margin-left: 62px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}
.datadiri{
    margin-left: 62px;
    margin-top: 25px;
    margin-right: 25px;
    font-family: Trykker;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
    padding-right: 25px;
    background-color:#C4C4C4;
}
.skillbar{
    margin-left: 65px;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    padding: 2px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 25px;
    color: #C4C4C4;
    background-color: #C4C4C4;
    border: transparent;
    border-radius: 50px;
    font-family: Trykker;
    font-style: normal;
    font-size: 14px;
    font-weight: 100;
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #5f5f5f;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #5f5f5f;
  }
  .bar.back::before{
    background-color: #5f5f5f;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
  .kotakschedule{
    margin-top: 25px;
    margin-left: 75px;
    margin-right: 75px;
    background-color: #C4C4C4;
  }
  .forms{
    font-family: Trykker;
  }

  @media (max-width: 600px){
    .datadiri{
      font-size: 10px;
    }
    .fotoui{
      height : 390px;
    }
    .boxed{
      height : 400px
    }
    .btn{
      font-size: 8px;
      margin: 5px;
    }
  }
  @media (max-width: 450px){
    .btn{
      font-size: 7px;
      margin: 0px;
    }
    .fotoui{
      height : 300px;
      margin-left: 30px;
    }
    .home{
      margin-left: 15px;
    }
    .btn{
      font-size: 9px;
      margin: 0px;
    }
    h1{
      margin-left: 30px;
    }
    .datadiri{
      font-size: 10px;
      margin-left: 30px;
    }
    .kotakschedule{
      margin-left: 50px;
    }
    .skillbar{
      margin-left: 30px;
    }
    .forms{
      font-size: 10px;
      margin-right: 50px;
    }
    
  }
  @media (max-width: 375px){
    .btn{
      font-size: 6px;
      margin: 0px;
    }
    .fotoui{
      height : 300px;
      margin-left: 30px;
    }
    .home{
      margin-left: 10px;
      margin-right: 5px;
    }
    .datadiri{
      font-size: 10px;
      margin-left: 30px;
    }
  }
  .btn-primary{
    margin-left: 60px;
  }
  .text-center{
    font-family: Trykker;
  }
  .linesched{
    border: 1px dashed;
    color : #3f3f3f;
    margin-bottom: 100px;
  }
  .form-group{
    margin: 20px;
    margin-bottom: 30px;
  }
  .descform{
    font-family: Trykker;
    background-color: #3f3f3f;
    color: #C4C4C4;
  }